/* Style the button that is used to open and close the collapsible content */
h1,h2,h3,h4,h5,h6 {
  cursor: pointer;
  padding: 15px;
  width: 75%;
  border: none;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, h1,h2,h3,h4,h5,h6:hover {
  background-color: blanchedalmond;
}

p {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  width: 75%;
  transition: max-height 0.2s ease-out;
  background-color: darksalmon;
}