.sort-btn-container{
	display: inline-flex;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #fff176;
  margin: 10px;
	padding: 3px;
  align-items: center;
  width: 300px;
  height: 75px;
}

.sort {
  padding-left: 20px;
}

.add {
    margin-left: 25px;
    margin-right: 5px;
}

.add-btn-container{
	display: inline-flex;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #fff176;
	padding: 3px;
  align-items: center;
  width: 200px;
  height: 75px;
}

#topLine {
  display: inline-block;
}
.blur-bg {

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.clear-bg{
  filter:none;
}