.sort-btn-container{
	display: inline-flex;
	border-radius: 5px;
	padding: 3px;
	
  align-items: center;
}

.blur-bg {

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.clear-bg{
  filter:none;
}