
.inputbox{
 height: 100px;
 width: 200px;
 border-radius: 30px;
}

#inputtitle{
  height: 30px;
  font-size: large;
  font-weight: bold;
}

.popup {
  position: fixed;  
  width: 45%;  
  height: 45%;  
  border-radius: 30px;
  top: 0;  
  left: -20;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color:#e7cc34;
  border: 1px solid #e7cc34;
}



.popup .add_book_page form {
  display: flex;
  /*border: solid red;*//*For debug*/

  align-items: center;
  flex-direction: column;

}
/*.popup .add_book_page form button{
  background: #ffffff;
  border: 3px solid black;
  border-radius: 15px;
  margin: 5px;
} */
.popup .add_book_page input {

  width: 80%;
  height: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 6px solid black;
  border-radius: 10px;
  font-size:24px;
}  
/*for future if want to style box input*/
.popup .add_book_page input:focus {
background-color: white;
}

.popup .button {
  margin: 5px;
}

.title-input h1{
  position: absolute; 
  left: 25%;   
  top: 35%;   
  margin: auto;  
  width: 50%;
  height: 50%;
}

