


.popup {  

  position: fixed;  
  width: 60%;  
  height: 60%;  
  border-radius: 15px;
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  border-color: #000000;
  background-color: #ffffff;  

}  

.popup .book {
  height: 100%;
}
.popup .book form {
  display: flex;
  /*border: solid red;*//*For debug*/

  align-items: center;
  flex-direction: column;

}
.popup .book form button{
  background: #ffffff;
  border: 3px solid black;
  border-radius: 15px;
  margin: 5px;
} 
.popup .book input {

  width: 80%;
  height: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 6px solid black;
  border-radius: 10px;
  font-size:24px;
}  
/*for future if want to style box input*/
.popup .book input:focus {
  background-color: #add8e6;
}


.title-input h1{
  position: absolute; 
  left: 25%;   
  top: 35%;   
  margin: auto;  
  width: 50%;
  height: 50%;
}

