/*TODO later combine all css files into one file in App.css 
for optimization*/

.main-container-center{
  justify-content: center;
  align-items: center;

  display: flex;

  background :white; /*for allowing users to customzize background color later*/
}


.book-shelf{

  width: 95%;
  padding: 10px;
  background: white;
}

/*Circular add-book-button*/
.add-bk-btn{
  float: left;
    margin: 10px 10px;
    height: 50px;
    width: 50px;  /*The Width must be the same as the height*/
    border-radius:100px; /*borderRadius must b 2*width*/   
    background-color:rgb(38, 54, 92);
    color: white;
    
}
.container {
  margin: auto;
   overflow: 'hidden';

  }
.paper {
    /*padding: theme.spacing(1); commented this because it showed up as a problem*/
    margin: auto;
    max-width: 500px;
    background-color: aqua;
  }
.book {
    border-right: 5px solid #dddddc;
    border-bottom: 5px solid #dddddc;
    background-color: #e7cc34;/*#3391AF;*/
  	border-radius: 15px;
  	height: 200px;
    width: 100%;
  }

  .book:hover .add-bk-btn
  {
    /*filter: blur(8px);
    -webkit-filter: blur(8px);*/
    background-color: #dddddc;
  }

/*The title of the user's book*/
.bk_title{
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: xx-large;
}

/*The hover menu which contains the launcher and wormhole*/
.hover-menu{
  margin-top: 5px;
  margin-left: 5px;
   width: 101%;
   height:102%;
   border: 5px solid #e7cc34;
   border-radius: 15px;
  display: flex;  
  justify-content: center;
  align-items: left;
    position: relative;
}


/*The blur effect of background when popup occurs*/
.blur-bg {

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.clear-bg{
  filter:none;
}

.line {
  border-left: 1px solid black;
}
.ph_title{
    font-size: 70px;
}



.signoutbutton {
  display: inline-flex;
  position: fixed;
  right: 50px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #fff176;   
  margin: 10px;
      padding: 3px;
  align-items: center;
  width: 120px;
  height: 40px;
}

.topline {
  width: 100%;
}
