.container {
    flexGrow: 1;
     max-width: 100%;
  margin: auto 20px;
   overflow: 'hidden'
  }
.paper {
    padding: theme.spacing(1);
    margin: auto;
    maxWidth: 500;
  }
.book {

    background-color: #3391AF;
  	border-radius: 15px;
    padding:10px 10px 10px 10px;
  	height: 200px;
  	text-align: center;
  	cursor: pointer;
  }

/*The title of the user's book*/
.title{
	width: 100%;
	height: 100%;
}

/*The hover menu which contains the launcher and wormhole*/
.hover-menu{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #285A6B 
}


.whatColor{
	color: orange;
}

